/* app css stylesheet */

.red {
	color:red;
}

.blue {
	color:#3276b1;
}

img.favicon {
	width:16;
}

ul.unstyled > li {
	list-style-type:none;
}

.page-footer {
	padding-top: 9px;
	margin: 20px 0 40px;
	border-top: 1px solid #eee;
}