<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html ng-app="app">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Java JWT</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="src/app/app.css"/>
</head>

<body>
	<div class="container">
	
		<div ng-controller="rootCtrl">
			<nav class="navbar navbar-default" role="navigation">				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">{{appName}}</a>
					<p class="navbar-text">A simple project to decode JSON Web Tokens (JWT) in Java</p>
				</div>				
			</nav>
					
			<alert ng-repeat="alert in alerts" type="alert.type" close="removeAlert($index)">{{alert.msg}}</alert>
		</div>
		
		<div ng-view></div>
	
	</div>
	
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	<script src="lib/angular/angular-cookies.js"></script>
	<script src="lib/angular-ui-bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
	<script src="src/app/app.js"></script>
	<script src="src/app/rootCtrl.js"></script>
	<script src="src/services/alertSrv.js"></script>
	<script src="src/services/endpointSrv.js"></script>
</body>
</html>